<div id="viewstudent">
  <%= link_to "Back to profile", @student %>
  <table>
    <tr id="thead">
      <td>Date</td>
      <td>Interview Type</td>
      <td>Counselor</td>
      <td>Draft?</td>
    </tr>

  <% @interviews.each do |interview| %>
    <tr>
      <% case interview.interview_type.name %>
      <% when 'Followup Interview' %>
        <td><%= link_to interview.period.date, interview.followup_interview %></td>
      <% when 'Routine Interview' %>
        <td><%= link_to interview.period.date, interview.routine_interview %></td>
      <% when 'Other Interview' %>
        <td><%= link_to interview.period.date, interview.other_interview %></td>
      <% end -%>
      <td><%= interview.interview_type.name %></td>
      <td><%= interview.user.name %></td>
      <td><%= "Yes" unless !interview.is_draft %></td>
    </tr>
  <% end %>
  </table>
</div>

<br style="clear:both" /> 
