
<%= simple_form_for @student, :html => { :multipart => true } do |f| %>
  <% if @student.errors.any? %>
    
  <% end %>

 <div class="field">
    <%= f.input :first_name %>
  </div>
  <div class="field">
    <%= f.input :last_name %><br />
  </div>
  <div class="field">
    <%= f.input :middle_name %><br />
  </div>
  <div class="field">
    <%= f.input :section, :collection => Section.all , :value_method => :id, :label_method => :name, :include_blank => false %><br />
  </div>
   <div class="field">
    <%= f.input :nickname %><br />
  </div>
  <div class="field">
    <%= f.input :address %><br />
  </div>
  <div class="field">
    <%= f.input :telno %><br />
  </div>
  <div class="field">
    <%= f.input :celno %><br />
  </div>
  <div class="field">
    <%= f.input :email %><br />
  </div>
  <div class="field">
    <%= f.input :birthdate %><br />
  </div>
  <div class="field">
    <%= f.input :birthplace %><br />
  </div>
  <div>
    <%= f.file_field :photo %><br />
  </div>


    <div class="field">
    <%= f.input :sibling_comments %><br />
  </div>
  <div class="field">
    <%= f.input :family_concerns %><br />
  </div>
  <div class="field">
    <%= f.input :most_significant_person %><br />
  </div>
  <div class="field">
    <%= f.input :why_significant %><br />
  </div>
  <div class="field">
    <%= f.input :is_special_guidance_needed,:as => :check_boxes, :collection => [["No", false], ["Yes", true]] %><br />
  </div>
  <div class="field">
    <%= f.input :special_guidance_elaboration %><br />
  </div>


  <div class="field">
    <%= f.input :subjects_good_at, :label => "Good Subjects" %>
  </div>
  <div class="field">
    <%= f.input :subjects_bad_at, :label => "Dire Subjects" %>
  </div>
  <div class="field">
    <%= f.input :study_buddy_outside_class, :label => "Study Partner"%>
  </div>
  <div class="field">
    <%= f.input :study_time_outside_class, :label => "Length of Study Time Outside School" %>
  </div>
  <div class="field">
    <%= f.input :where_you_study_outside_class, :label => "Venue where student studies" %>
  </div>
  <div class="field">
    <%= f.input :conflicts_with_studying, :label => "Conflicts in studying or finishing school work"  %>
  </div>
  <div class="field">
    <%= f.input :being_tutored, :label => "Being Tutored?", :as => :radio, :collection => [["No", false], ["Yes", true]]  %>
  </div>
  <div class="field">
    <%= f.input :talents_or_skills, :label => "Special Talents or Skills" %>
  </div>
  <div class="field">
    <%= f.input :extracurricular_activities, :label => "List of Extracurricular Activities" %>
  </div>
    <div class="field">
    <%= f.input :work_experience %><br />
  </div>
    <div class="field">
    <%= f.input :interests %><br />
  </div>
  <div class="field">
    <%= f.input :leisure_time, :label => "What do student do during his leisure time?"%>
  </div>
   <div class="field">
    <%= f.input :add_topics_in_guidance_class, :label => "Additional Guidance Class Topics", :collection => list %>
  </div>
  <div class="field">
    <%= f.input :additional_info_for_counselor, :label => "Other information that could be helpful for counselor"%>
  </div>
  <div class="field">
    <%= f.input :present_concers, :label => "Present Concerns"%>
  </div>
  <div class="field">
    <%= f.input :who_you_talk_to_about_personal_stuff, :label => "Whom student talk to about something personal?"%>
  </div>
  <div class="field">
    <%= f.input :college, :label => "Where student hope/plan to go to college?"%>
  </div>
  
  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
