  <div id="graypart">
  <table>
    <tr>
      <td id="profhead" colspan="1">Profile:</td>
      <td id="profhead" colspan="2"><%= link_to 'Edit', edit_student_path(@student) %>
    </tr>
    <tr>
      <td class="label1">Picture:</td>
      <td><%= image_tag @student.photo(:medium) %></td>
    </tr>
    <tr>
      <td class="label1">Name:</td>
      <td> <%= [@student.first_name, @student.middle_name + '.', @student.last_name].join ' ' %>
      </td>
    </tr>
    <tr>
      <td class="label1">Nickname:</td>
      <td><%= @student.nickname %></td>
    </tr>
    <tr>
      <td class="label1">City Address:</td>
      <td>
        <%= @student.address %>
      </td>
    </tr>
    <tr>
      <td class="label1">Telephone No.:</td>
      <td>
        <%= @student.telno %>
      </td>
    </tr>
    <tr>
      <td class="label1">Cellphone No.:</td>
      <td>
        <%= @student.celno %>
      </td>
    </tr>
    <tr>
      <td class="label1">E-mail Address:</td>
      <td>
        <%= @student.email %>
      </td>
    </tr>
    <tr>
      <td class="label1">Date of Birth:</td>
      <td>
        <%= @student.birthdate %>
      </td>
    </tr>
    <tr>
      <td class="label1">Place of Birth:</td>
      <td>
        <%= @student.birthplace %>
      </td>
    </tr>
    <tr>
      <td class="label1">Religion:</td>
      <td>
        <%= @student.religion %>
      </td>
    </tr>
    <tr>
      <td class="label1">Citizenship:</td>
      <td>
        <%= @student.citizenship %>
      </td>
    </tr>
    <tr>
      <td class="label1">Graduated from:</td>
      <td>
        <%= @student.grade_school %>
      </td>
    </tr>
   </br>
     <table>
    <tr>
      <td class="profhead" colspan="1">Personal Family Information</td>
      <td class="profhead"></td>
      <!--<td id="profhead" colspan="2"><%= link_to 'Edit', edit_student_path(@student) %>-->
    </tr>
    <tr>
      <td class="label1">Family Concerns:</td>
      <td>
        <%= @student.family_concerns %>
      </td>
    </tr>
    <tr>
      <td class="label1">Sibling comments:</td>
      <td>
        <%= @student.sibling_comments %>
      </td>
    </tr>
    <tr>
      <td class="label1">Most Significant Person:</td>
      <td>
        <%= @student.most_significant_person %>
      </td>
    </tr>
    <tr>
      <td class="label1">Why Significant:</td>
      <td>
        <%= @student.why_significant %>
      </td>
    </tr>
  </table>
</br>
  <table>
    <tr>
      <td id="profhead" colspan="1">Academic Performance & Study Habit</td>
      <!--<td id="profhead" colspan="2"><%= link_to 'Edit', edit_student_path(@student) %>-->
      <td class="profhead"></td>
    </tr>
    <tr>
      <td class="label1">Good Subjects:</td>
      <td>
        <%= @student.subjects_good_at %>
      </td>
    </tr>
    <tr>
      <td class="label1">Dire Subjects:</td>
      <td>
        <%= @student.subjects_bad_at %>
      </td>
    </tr>
    <tr>
      <td class="label1">Length of Study Time Outside School:</td>
      <td>
        <%= @student.study_time_outside_class %>
      </td>
    </tr>
    <tr>
      <td class="label1">Study Partner:</td>
      <td>
        <%= @student.study_buddy_outside_class %>
      </td>
    </tr><tr>
      <td class="label1">Venue where he studies:</td>
      <td>
        <%= @student.where_you_study_outside_class %>
      </td>
    </tr><tr>
      <td class="label1">Conflicts in studying or finishing school work:</td>
      <td>
        <%= @student.conflicts_with_studying %>
      </td>
    </tr><tr>
      <td class="label1">Being tutored?:</td>
      <td>
        <%= @student.being_tutored %>
      </td>
    </tr>
    <% if @student.is_special_guidance_needed %>
      <tr>
        <td class="label1">Special Guidance Elaboration:</td>
        <td>
          <%= @student.special_guidance_elaboration %>
        </td>
      </tr>
    <% end -%>
  </table>
</br>
  <table>
    <tr>
      <td id="profhead" colspan="1">Activities In and Out of School</td>
      <!--<td id="profhead" colspan="2"><%= link_to 'Edit', edit_student_path(@student) %>-->
      <td class="profhead"></td>
    </tr>
    <tr>
      <td class="label1">Special Talents or Skills:</td>
      <td>
        <%= @student.talents_or_skills %>
      </td>
    </tr>
    <tr>
      <td class="label1">List of Extracurricular Activities:</td>
      <td>
        <%= @student.extracurricular_activities %>
      </td>
    </tr>
    <tr>
      <td class="label1">Work Experience:</td>
      <td>
        <%= @student.work_experience %>
      </td>
    </tr>
    <tr>
      <td class="label1">Interests:</td>
      <td>
        <%= @student.interests %>
      </td>
    </tr>
  </table>
  </br>
  <table>
    <tr>
      <td id="profhead" colspan="1">Guidance Concerns</td>
      <!--<td id="profhead" colspan="2"><%= link_to 'Edit', edit_student_path(@student) %>-->
      <td class="profhead"></td>
    </tr>
    <tr>
      <td class="label1">Additional Guidance Class Topics:</td>
      <td>
        <%= @student.add_topics_in_guidance_class %>
      </td>
    </tr>
    <tr>
      <td class="label1">Other information that could be helpful for counselor:</td>
      <td>
        <%= @student.additional_info_for_counselor %>
      </td>
    </tr>
    <tr>
      <td class="label1">Present Concerns:</td>
      <td>
        <%= @student.present_concers %>
      </td>
    </tr>
    <tr>
      <td class="label1">Whom student talk to about something personal?:</td>
      <td>
        <%= @student.who_you_talk_to_about_personal_stuff %>
      </td>
    </tr>
    <tr>
      <td class="label1">Where student hope/plan to go to college?:</td>
      <td>
        <%= @student.college %>
      </td>
    </tr>
  </table>
  </table>
  </div>
</div>
