<div id="title">
	<a href="viewstudent.html">View Student Accounts </a>
	<span id="arrow"> > </span>
	<a href="studentprofile.html"> Student Profile</a>
	<br/>
	<span id="student"><%= @name %></span>
</div>
			
			
<!-- the only area you can edit-->

<div id="counseloraccount">
	
	<div id="counselornav">
		<ul>
      <li><%= link_to "General Information", @student %></li>
      <li><%= link_to "Family", student_path(@student, :show_family => 1) %></li>
      <li><%= link_to "Academic History", student_path(@student, :show_acads => 1) %></li>
      <li><%= link_to "Interviews", interviews_path(:student_id => @student.id) %></li>
		</ul>
	</div>
	
  <div id="profile">
    <% case %>
    <% when params[:show_family] %>
      <%= render "family_info" %>
    <% when params[:show_acads] %>
      <%= render "acad_info" %>
    <% else %>
      <%= render "general_info" %>
    <% end -%>
  </div
		
<!-- the only area you can edit-->
	
  <br style="clear:both" /> 
</div>
