<p id="notice"><%= notice %></p>

<p>
  <b>Picture:</b>
  <%= @student.picture %>
</p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @student.middle_name %>
</p>

<p>
  <b>Section:</b>
  <%= @student.section_id %>
</p>

<p>
  <b>Nickname:</b>
  <%= @student.nickname %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Telno:</b>
  <%= @student.telno %>
</p>

<p>
  <b>Celno:</b>
  <%= @student.celno %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @student.birthdate %>
</p>

<p>
  <b>Birthplace:</b>
  <%= @student.birthplace %>
</p>

<p>
  <b>Sibling comments:</b>
  <%= @student.sibling_comments %>
</p>

<p>
  <b>Family concerns:</b>
  <%= @student.family_concerns %>
</p>

<p>
  <b>Most significant person:</b>
  <%= @student.most_significant_person %>
</p>

<p>
  <b>Why significant:</b>
  <%= @student.why_significant %>
</p>

<p>
  <b>Is special guidance needed:</b>
  <%= @student.is_special_guidance_needed %>
</p>

<p>
  <b>Special guidance elaboration:</b>
  <%= @student.special_guidance_elaboration %>
</p>

<p>
  <b>Work experience:</b>
  <%= @student.work_experience %>
</p>

<p>
  <b>Interests:</b>
  <%= @student.interests %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
