<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @section.name %>
</p>
<p>
  <b>counselor:</b>
  <% counselor = @section.user %>
  <% if counselor.nil? %>
  	No counselor assigned
	<% else %>
		<%= counselor.name %>
	<% end -%>
</p>
    <div id="viewstudent">
    
    <table>
        <tr id="thead">
            <td>Name</td>
            <td>ID No.</td>
        </tr>
        <% @students.each do |student| %>
            <tr>
                <% student_name = [student.first_name, student.last_name].join ' ' %>
                <td><%= link_to student_name, student %></td>
                <td><%= student.student_id %></td>
            </tr>
        <% end -%>
   </table>
    </div>


