<%= form_for(@followup_interview) do |f| %>
  <% if @followup_interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@followup_interview.errors.count, "error") %> prohibited this followup_interview from being saved:</h2>

      <ul>
      <% @followup_interview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :cols => 50 %>
  </div>
  <div class="field">
    <%= f.label :planned_intervention %><br />
    <%= f.text_area :planned_intervention, :cols => 50 %>
  </div>
  <%= fields_for @interview do |ff| %>
    <%= ff.hidden_field :user_id, :value => @interview.user_id %>
    <%= ff.hidden_field :student_id, :value => @interview.student_id.to_s %>
    <%= ff.hidden_field :period_id, :value => @interview.period_id %>
    <%= ff.hidden_field :interview_type_id, :value => @interview.interview_type_id %>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
