<h1>Listing followup_interviews</h1>

<table>
  <tr>
    <th>Comments</th>
    <th>Planned intervention</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @followup_interviews.each do |followup_interview| %>
  <tr>
    <td><%= followup_interview.comments %></td>
    <td><%= followup_interview.planned_intervention %></td>
    <td><%= link_to 'Show', followup_interview %></td>
    <td><%= link_to 'Edit', edit_followup_interview_path(followup_interview) %></td>
    <td><%= link_to 'Destroy', followup_interview, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Followup interview', new_followup_interview_path %>
