<br>
<br>
<div id="title">
				<a href="log-in.html">Login</a>
			</div>
			
			
		<!--le only area you can edit-->
			<div id ="freespace">
				<div id="log-box">
				  <%= devise_error_messages! %>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div> username
	  <%= f.text_field :username %></div>
	  <br/>

	  <div> password
	  <%= f.password_field :password %></div>
		<br/>

  <div><%= f.submit "Sign in" %></div>
<% end %>
				</div>
			</div>
			
			
	
			
		<!--le only area you can edit-->
				
		<br style="clear:both" /> 
