<div id="title">
				<a href="log-in.html">Login</a>
			</div>
			
			
		<!--le only area you can edit-->
			
			<div id ="freespace">
				<div id="log-box">
				  <%= devise_error_messages! %>

					<form method="POST">
					<table>
						<tr >
							<td colspan="2"id="loghead">Log-in</td>
						</tr>
<!-- 						<tr>
              <td>Username:</td>
              <td><input type="text" name="username" id="user[username]" size="25"></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password" id="user[password]" size="25"></td>
            </tr>
            <tr>
              <td><input type="submit" name="commit" value="Sign in"></td>
            </tr>
 -->					</table>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div> username
	  <%= f.text_field :username %></div>
	  <br/>

	  <div> password
	  <%= f.password_field :password %></div>
		<br/>

  <div><%= f.submit "Sign in" %></div>
<% end %>
				</form>
				</div>
			</div>
			
	
			
				
