<p id="notice"><%= notice %></p>

<br/>
<p>
  <b>General Mental Ability:</b>
  <%= @routine_interview.general_mental_ability %>
</p>

<p>
  <b>Academic History:</b>
  <%= @routine_interview.academic_history %>
</p>

<p>
  <b>Family Relationship:</b>
  <%= @routine_interview.family_relationship %>
</p>
<p>
  <b>Personal/Emotional Development:</b>
  <%= @routine_interview.personal_emotional %>
</p>
<p>
  <b>Goals:</b>
  <%= @routine_interview.goals %>
</p>
<p>
  <b>Recommendation:</b>
  <%= @routine_interview.recommendation %>
</p>
<p>

<br style="clear:both" /> 
